* {
	margin: 0;
	padding: 0;
	font-family: Muli;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(background.jpg);
	background-color: #383c55;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

div.navbar {
	margin: auto;
	width: 100%;
	padding: 0.8rem;
	position: fixed;
	background-color: #212121;
}

ul.nav {
	float: left;
	list-style-type: none;
}

ul.nav li {
	display: inline-block;
}

ul.nav li a {
	text-decoration: none;
	color: #E9F1FE;
	padding: 5px 20px;
	border: 1px solid transparent;
}

ul.nav li.active a {
	border-bottom: 3px solid #fff;
}

ul.nav li a:hover {
	background-color: rgba(233,241,254, 0.45);
	transition: 0.5s;
}

ul.nav li a:active {
	border-bottom: 3px solid #fff;
	transition: 0.5s;
}

h1.logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	color: #E9F1FE;
	border: 2px solid #E9F1FE;
}

div.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.title h1 {
	color: #f5f9ff;
	font-size: 70px;
}

div.title p {
	color: #d1d7e2;
	text-align: center;
	font-size: larger;
	margin: 5px;
}

ul.contact p {
	text-align: center;
	font-size: larger;
	margin: 5px;
}

ul.contact p a {
	text-decoration: none;
	color: #d1d7e2;
}